@import "variables";
@import "compass";
@mixin sec-button($color,$hover-color,$background-color,$hover-background-color,$border-color,$width:null,$height:2.5em){
  color: $color;
  line-height: $height;
  height: $height;
  text-align: center;
  background-color: $background-color;
  border:1px solid $border-color;
  display: inline-block;
  text-decoration: none;
  @include transition(0.2s linear);
  @if($width){
    width: $width;
  }@else{
    padding-left:1em;
    padding-right:1em;
  }
  cursor: pointer;
  @include box-sizing(border-box);
  &:hover,&.selected{
    color: $hover-color;
    background-color: $hover-background-color;
    border-color: $hover-background-color;
  }
  &.selected{
    cursor: not-allowed;
  }
  &.disabled{
    background-color: $sec-light-bg-color;
    cursor: not-allowed;
    color: $sec-gray-font-color;
    border-color: darken($sec-light-bg-color,20%);
  }
  &.button-small{
    width: $sec-normal-button-width;
  }
}

@mixin sec-input($height:null){
  @if($height){
    height: $height;
    line-height: $height;
  }@else{
    height:$sec-input-height;
    line-height: $sec-input-line-height;
  }
  border:1px solid $sec-gray-border-color;
  padding-left:$sec-input-padding;
  @include border-radius($sec-input-border-radius);
  @include box-sizing(border-box);
  outline: none;
}
@mixin sec-select{
  height:$sec-input-height;
  line-height: $sec-input-line-height;
  border:1px solid $sec-gray-border-color;
  @include border-radius($sec-input-border-radius);
  background-color: white;
  padding-left:$sec-input-padding;
  @include box-sizing(border-box);
  outline:none;
}
@mixin sec-textarea{
  border: 1px solid $sec-gray-border-color;
  padding-left:$sec-input-padding;
  @include border-radius($sec-input-border-radius);
  @include box-sizing(border-box);
  outline: none;
}
@mixin sec-border{
  border:1px solid $sec-gray-border-color;
}