extends ../layout/life-layout
block content

    .mt-100.mb-320
        label 为了调样式：
        .choice-ganged-box
            input(type="text")
            .choice-ganged-main(style="width:400px").cur
                .tabs
                    .tab.cur 省
                    .tab 市
                    .tab 区
                    .tab 省省省
                    .tab 市市市
                    .tab 区区区区
                .choice-content.cur
                    - var i=0;
                    while i<15
                        -i++
                        .item
                            a(href="#") 北京

        label.ml-320 示例：
        input(type="text")#choice-ganged


    script(type="text/javascript").
        require(["jquery", "choice-ganged"],function($, ChoiceGanged){

            var choice = new ChoiceGanged({
                target : '#choice-ganged',
                width: 200,
                tabs:[
                    // ** 配置tabs项的时候，请严格按照顺序来
                    {
                        name:'省份',  // tab 显示的名字
                        // 必须实现这个 获取数据的 函数  且  return 一个包含数组的对象， 对象中定义 id 和name 对应的属性名
                        getItems : function (obj){
                            return {
                                showField: 'name', // 指定下面的数组中每一个对象中的哪个属性用来显示
                                data: [{code: 1, name: '北京'}, {code: 2, name: '上海'}, {code: 3, name: '广州'}, {
                                    code: 4,
                                    name: '湖南'
                                }, {code: 5, name: '香港'}]
                            };
                            /*
                             $.ajax({
                             url:'',
                             data:'',
                             success:function( resultData ){
                             return {
                             showField: '', // 为空 默认 'name'
                             data:resultData
                             }
                             }
                             })
                             */
                        },
                        callback : function (obj){console.log(obj);console.log('随便你做些什么事儿');}
                    },
                    {
                        name: '城市',
                        getItems: function (obj) {
                            var arr = [];
                            if(obj.code ==1){
                                arr = [{code: 1, name: '北京市'}, {code: 2, name: '县'}];
                            }else if(obj.code == 2){
                                arr = [{code: 1, name: '长沙市'}, {code: 2, name: '株洲市'}, {code: 2, name: '湘潭市'}, {code: 2, name: '衡阳市'}];
                            }
                            return {
                                showField: 'name',
                                data: arr
                            };
                        },
                        callback : function (obj){
                            console.log(obj);
                            console.log('我要设置值了');
                        }
                    },
                    {
                        name: '区县',
                        getItems: function (obj) {
                            var arr = [];
                            if (obj.code == 1) {
                                arr = [{code: 1, name: '长沙县'}, {code: 2, name: '长沙县2'}];
                            } else if (obj.code == 2) {
                                arr = [{code: 1, name: '长沙县'}, {code: 2, name: '望城县'}, {code: 2, name: '宁乡县'}, {
                                    code: 2,
                                    name: '衡阳市'
                                }];
                            }

                            /*
                             * 包一个延时，测试
                             */
                            setInterval(function (){
                                /**
                                 * 用 return 的方式 要求 ajax 是同步的！
                                 * 用下面  setData的方式 可以是 异步的，  写到 ajax success Fn 中即可
                                 */
                                choice.setCurData({
                                    showField: 'name',
                                    data: arr
                                })
                            }, 200);


                        },
                        callback: function (obj) {
                            console.log(obj);
                            console.log('我要设置值了2');
                            choice.close();
                        }
                    }
                ]
            });


        });